body {
    background-color:#ccc4c4;
    margin: 0px;
    border: 20px;
    text-align: left;
}

header {
    background-color: #4aaaa5;
    margin: 10px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 180px;
    height: 60px;
    text-align: center
}

.container {
    background-color: #f7eeee;
    float: left;
    border: 1px solid #eee;
    width: 90%;
}

h2 {
    font-size: 200%;
    color: #0a757c;
}
img {
    float: left;
    width: 200px; 
    height: 200px;
    margin: 10px 20px;
}

P {
    font-size: 120%;
}

#footer {
    position:fixed;
    background-color: #666666;
    margin: 0px auto;
    padding: 20px;
    bottom: 0px;
    width: 98%;
    height: 20px;
}








